.main-container {
    padding: 2rem 4rem;
    background-color: #f4f6f8;
    font-family: 'Helvetica', sans-serif;
  }
  
  .user-info {
    font-size: 1.5rem;
    color: #121212;
    margin-bottom: 0.5rem;
  }
  
  .uid {
    font-weight: normal;
    color: #888;
    font-size: 1rem;
    margin-left: 1rem;
  }
  
  .user-status {
    background-color: hsl(39, 87%, 80%);
    color:#000;
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 8px;
    width: 20%;
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .card {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    flex: 1 1 300px;
    min-width: 320px;
  }
  
  .card-deposit {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    flex: 1 1 100px;
    min-width: 200px;
    
  }

  .card h2 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .asset-details,
  .overview-details {
    font-size: 1rem;
    color: #333;
  }
  
  .asset-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .asset-value {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .button-group {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    background-color: #eda010;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #c9880e;
  }
  
  .btn.dark {
    background-color: #121212;
  }
  
  .btn.dark:hover {
    background-color: #333;
  }
  
  .deposit-input-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 1rem;
  }
  
  .deposit-input-group label {
    background-color: #f3f5f7;
    padding: 15px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 15px;
  }
  
  .deposit-input-group input[type="number"] {
    background-color: #f3f5f7;
    padding: 0px 15px 15px 15px;
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 19px;
    font-weight: bold;
  }
  
  .deposit-input-group :focus{
    outline: none;
    box-shadow: none;
  }

  .currency-card {
    display: flex;
    align-items: center;
    background-color: pink;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
  }
  
  .currency-label {
    padding: 0px 15px 15px 15px;
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 19px;
    font-weight: bold;
  }