.main-container {
  padding: 30px 150px 10px 150px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f5f7fb;
  height: 100vh;
}

.user-info {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.user-status{
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff9db; /* soft pastel yellow */
  padding: 3px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #f0e6a8;
  width: 7%;
  display: flex;
  text-align: center;
}

.uid {
  font-size: 0.8rem;
  color: #888;
  margin-left: 20px;
}

.user-icon{
  color: hsl(120, 58%, 40%);
  vertical-align: middle;
  padding-top: 2px;
  padding-left: 3px;
  font-size: 0.8rem;
}
.eye-icon{
  color:#888;
  font-size: 1.1rem;
}
.dashboard-container-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  
}

.card-header h2 {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
  font-weight: 650;
}

.stock-logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%; /* Makes it circular */
  vertical-align: middle; /* Aligns with the text */
}

.asset-label {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.asset-value {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 650;
}

.usd{
  font-size: 14px;
  position: relative;
  top: -7px; 
  font-weight: 500;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background:  #21ad69;
  color:#fff;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background:  hsl(151, 68%, 45%);
}

.btn.dark {
  background: #eda010;
  color:#333;
}

.btn.dark:hover {
  background: hsl(39, 87%, 55%);
}

.portfolio-container {
  margin-top: 2rem;
}

.portfolio-header {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.holdings-list {
  display: grid;
  gap: 1rem;
}

.holding-card {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.empty-portfolio {
  font-style: italic;
  color: #999;
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.portfolio-table th,
.portfolio-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.portfolio-table th {
  background-color: #f9f9f9;
  color: #333;
  font-weight: 600;
}

.profit-green{
  color: #28a745; /* Bootstrap green */
  font-weight: bold;
}

.sell-red {
  color: #dc3545; /* Bootstrap red */
  font-weight: bold;
}
