<h1>Hi <%= @user.email %>,</h1>
<p>Great news! You can now start your Trading Journey.</p>
<p>Thank you for choosing TradeApp!</p>
<p>We are excited to have you on board.</p>
<p>Best regards,</p>
<p>TradeApp</p>
<p>Note: This is an automated email. Please do not reply.</p>
<p> powered by userMailer</p>