.main-admin-pending {
  padding: 30px;
  max-width: 950px;
  margin: 20px auto;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 10px;
}

.main-all-users {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
}

.pending-approval-h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2c3e50;
  font-weight: 500;
}

.pending-user-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pending-user-card > div {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 14px;
  padding: 12px;
  padding-left: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.user-info-admin {
  font-size: 17px;
  color: #333;
  flex: 1;
}

.approve-button {
  padding:9px;
  border-radius: 10px;
  border: transparent;
  background-color: hsl(120, 100%, 35%);
  color: white;
  margin-left: 30px;
  cursor:pointer;
}
.approve-button:hover{
  background-color: hsl(120, 100%, 25%);
}
.no-pending-user {
  color: #2c3e50;
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
}
.new-user-button {
  display: inline-flex;
  align-items: center;
  background-color: #2c3e50;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  user-select: none;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.new-user-button:hover {
  background-color: #1a252f;
}

.new-user-button i {
  margin-right: 8px;
  font-size: 16px;
}

.admin-user-table {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  border-collapse: collapse;
}

.admin-user-table thead {
  color: #2c3e50;
}

.admin-user-table th {
  padding: 12px 16px;
  text-align: left;
}

.admin-user-table td {
  padding: 12px 16px 16px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.view-account-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f7a600;
  color: rgb(43, 42, 42);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.view-account-btn:hover {
  background-color: hsl(40, 100%, 45%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
