.main-admin-show {
    padding: 4rem;
    background-color: #f4f6f8;
    min-height: 100vh;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  .admin-dashboard{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
  }
  
  .user-status {
    background-color: hsl(39, 87%, 80%);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    font-weight: 600;
    color: #555;
    font-size: 14px;
    width: 18%;
    text-align: center;
  }
  
  .user-info {
    font-size: 1.3rem;
    font-weight: 500;
    color: #121212;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }
  
  .button-group {
    display: flex;
    gap: 1rem;
  }
  
  .button-group button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    background-color: #eda010;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #c9880e;
  }
  