.account-info-h1{
    margin-top: 50px;
    text-align: center;
}

.edit-acct-admin {
  padding: 10px 12px;
  background-color: hsl(210, 3%, 59%);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}

.edit-acct-admin:hover {
  background-color: hsl(210, 3%, 39%);
}

.account-id {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .account-id-details {
    background: #f9f9f9;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .account-id-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 1.5rem;
    margin: 1rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .account-id-card i {
    color: #4a4a4a;
  }
  
  .account-id-card .user-icon {
    margin-left: 0.3rem;
  }
  
  .account-id-card h2 {
    margin-top: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
  }
  